<div class="main">
  <div class="left-pannel">
    <div class="left-pannel-title">
      <img src="https://img.icons8.com/color/48/000000/fusionbd.png"/>
     <h1>TULPAR</h1>
    </div>
    
    <div class="left-pannel-content-container">
      <div class="left-pannel-content">
        <h1>
          Кардио-реаблитационный центр
        </h1>
        <span>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the
        </span>
        <ul>
          <li>Название услуги</li>
          <li>Название услуги</li>
          <li>Название услуги</li>
          <li>Название услуги</li>
        </ul>
      </div>
    </div>

    <div class="bottom-img">
      <img src="https://s3-alpha-sig.figma.com/img/c52f/37be/0d09a1223a32e9cd92aa24f8bd401043?Expires=1643587200&Signature=e3bEKNCbejpLyFgmyX-SrPcjjlv1WrdsOHjcDS1YVlnRzwYL~BCWwVNYKtedpDUHjGQBeRXUw2T7t4xJT9QFSCIaEKD2daOT5sKZuBY4g-nGfYeXWzk1~f9j6MxhMT~Y-3JFHhI-CXMYRVrZ2lKeAEHmA9A47sHBuCAj0X5IZUsfQQ0YP25Eriyl8Xm39dBjySww0Xxos9NwjZvHqK1cKXKyKDZ5BYCf-rFyYQ0A8MOVgST5WUbOh905olUqVme~SREMEwCXw9w3g-1zpBMmX7ulspd13wV6sx5FuBZGCIhTXmpRK7MFEQ6PPY4HkCpHPD2pHMXK6kbLjZMR7o6jyg__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA"/>
      </div>
  </div>
  <div class="right-pannel"></div>
</div>
